{% if link_type == 'title' %}
  <a href="{{ link_url }}"
     class="link--title
            c-content-primary
            c-underline-secondary
            ani-underline
            t-title-medium">{{ link_text }}</a>
{% elseif link_type == 'navigation' %}
  <a href="{{ link_url }}"
     class="link--navigation
            c-content-interactive-secondary
            t-interactive">{{ link_text }}</a>
{% else %}
  <a href="{{ link_url }}"
     class="link--body
            c-content-interactive-secondary
            d-underline
            t-body-medium">{{ link_text }}</a>
{% endif %}