<button class="tab--trigger t-interactive c-content-tertiary" 
        data-value="{{ tab_value }}" 
        role="tab" 
        id="tab-{{ tab_value }}"
        aria-controls="panel-{{ tab_value }}"
        aria-selected="false"
        tabindex="{{ first_in_list ? '0' : '-1' }}"
        {% if tab_description %}aria-description="{{ tab_description }}"{% endif %}>
  <span class="tab--trigger-label">{{ tab_label }}</span>
  {% if tab_description %}
    <span class="sr-only">{{ tab_description }}</span>
  {% endif %}
</button>