{% set classes = [
  'c-bg-primary',
  'c-content-primary',
  'card--standard',
] %}

<div{{ attributes.addClass(classes) }} role="contentinfo">
  {% if card_image %}
    <div class="card--image">
      {{ card_image }}
    </div>
  {% endif %}

  <div class="card--content s-box-small-v s-box-small-h">
    <div class="card--title">
      {% if eyebrow %}
        <div class="card--eyebrow t-eyebrow s-stack-small">
          <p>{{ eyebrow }}</p>
        </div>
      {% endif %}

      {% if card_title %}
        <h3 class="card--headline t-title-medium c-underline-secondary ani-underline s-stack-default">
          <a href="{{ card_url }}">
            <span class="sr-only">{{ card_title }}</span>
            <span aria-hidden="true">{{ card_title }}</span>
          </a>
        </h3>
      {% endif %}
    </div>

    <div class="card--details">
      {% if description %}
        <div class="card--text t-body-small c-content-secondary s-stack-default">
          <p>{{ description }}</p>
        </div>
      {% endif %}

      {% if date %}
        <div class="card--date t-label c-content-tertiary s-stack-large">
          <time datetime="{{ card_date|date('Y-m-d') }}">{{ card_date|date('F j, Y') }}</time>
        </div>
      {% endif %}
    </div>

    {% block cta_slot %}{% endblock %}
  </div>
</div>