<footer role="contentinfo" class="umd-lib footer c-bg-dark-primary c-content-dark-primary">
  <div
    class="footer--content s-box-page-medium-h s-box-page-medium-v s-center">
    <div class="footer--header s-stack-large">
      <div class="footer--logo">
        <img
          alt="University Libraries"
          loading="lazy"
          width="270"
          height="81"
          decoding="async"
          data-nimg="1"
          src="/{{ active_theme_path() }}/logo-dark.svg"
        />
      </div>
      <div class="footer--title">
          <h2 class="t-title-small c-content-dark-primary">
            {% block institution_name %}{% endblock %}
          </h2>
          <address>
            <p class="c-content-dark-secondary t-body-medium">
              {% block full_address %}{% endblock %}
            </p>
            <a href="tel:+{{ telephone|replace({'.': ''}) }}" class="c-content-dark-secondary t-body-medium">
              {{ telephone }}
            </a>
          </address>
      </div>
    </div>
    <div class="footer--columns">
      <div class="footer--columns-main s-stack-large">
        {% block navigation_menu_slot %}
        {% endblock %}
        {% block social_media_slot %}
        {% endblock %}
      </div>
      <div class="footer--columns-secondary">
        <a
          class="footer--columns-secondary-item s-stack-medium"
          href="https://fearlesslyforward.umd.edu/"
          target="_blank"
          rel="noreferrer noopener"
          aria-label="Link to the Fearlessly Forward Brand website">
          <img
            alt="University of Maryland Fearlessly Forward Campaign Logo"
            loading="lazy"
            width="156"
            height="67"
            decoding="async"
            data-nimg="1"
            src="/{{ active_theme_path() }}/fearlessly-forward.svg"/>
        </a>
        <div class="footer--columns-secondary-item">
          <img
            alt=""
            loading="lazy"
            width="37"
            height="33"
            decoding="async"
            data-nimg="1"
            src="/{{ active_theme_path() }}/rfdl.svg"/>
          <p class="t-body-small c-content-dark-primary">
            Regional Federal Depository Library
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer--sub c-bg-dark-secondary">
    <div
      class="footer--sub-content s-box-page-small-v s-box-page-medium-h s-center">
      {% block legal_menu_slot %}
      <ul>
        <li>
          <a href="https://giving.umd.edu/campaigns/academics-campus-areas/campus-areas/lib" class="ani-underline t-label c-underline-dark-primary">
            Give Now
          </a>
        </li>
        <li>
          <a href="https://www.lib.umd.edu/about/policies/privacy" class="ani-underline t-label c-underline-dark-primary">
            Privacy Policy
          </a>
        </li>
        <li>
          <a href="https://www.umd.edu/web-accessibility" class="ani-underline t-label c-underline-dark-primary">
            Web Accessibility
          </a>
        </li>
      </ul>
      {% endblock %}
      <div>
        <p class="t-label c-content-dark-primary">© <script>document.write(new Date().getFullYear());</script> UNIVERSITY OF MARYLAND</p>
      </div>
    </div>
  </div>
</footer>
