{# 
/**
 * @file
 * UMD Libraries Hero component.
 *
 * Available variants:
 * - minimal
 *
 * Variables:
 * - theme: The theme of the hero
 * - eyebrow: The eyebrow of the hero
 * - hero_title: The title of the hero
 * - description: The description of the hero
 * - hero_image: The URL of the hero image
 * - hero_image_alt: The alt text for the hero image
 */
 #}

{# Get the variant, defaulting to standard if not specified #}
{% set selectedVariant = variant | default('minimal') %}


{% if hero_title is defined %}
  {% if theme == 'dark' %}
    <div class="hero--minimal c-bg-primary c-content-primary dark-theme">
  {% else %}
    <div class="hero--minimal c-bg-secondary c-content-primary">
  {% endif %}
    {% if hero_image %}
      <div class="hero--image">
        <img alt="{{ hero_image_alt }}" src="{{ hero_image }}">
      </div>
    {% endif %}
    <div class="hero--container s-box-page-default-h s-box-page-default-v s-center">
      <div class="hero--content s-box-large-h {% if not hero_image %}text-only{% endif %}">
      {% if eyebrow %}
        <p class="hero--eyebrow c-content-secondary t-eyebrow s-stack-small">
          {{ eyebrow }}
        </p>
      {% endif %}
      <h1 class="hero--headline t-display s-stack-default">
        {{ hero_title }}
      </h1>
      {% if description %}
        <p class="hero--description c-content-secondary t-body-medium">
          {{ description }}
        </p>
      {% endif %}
      </div>
    </div>
  </div>

{% else %}
  {# variable error handling #}
  <div class="c-content-interactive-primary c-bg-interactive-primary s-box-small-h"> [ERROR] - UMD Libraries Hero / Variant - {{ selectedVariant }}</div>
  <div class="s-box-small-h"> Required fields missing: <strong>Hero Title</strong></div>
{% endif %}