{# 
/**
 * @file
 * UMD Libraries Image component.
 *
 * Available variants:
 * - freeform
 * - sixteen_to_nine
 * - three_to_two
 * - four_to_three
 * - one_to_one
 *
 * Variables:
 * - image: The URL of the image
 * - image_alt: The alt text for the image
 * - caption: The caption for the image
 */
#}

{# Get the variant, defaulting to standard if not specified #}
{% set selectedVariant = variant | default('freeform') %}

{% if image is defined %}
  <figure class="umd-lib-image c-bg-primary">
    <img alt="{{ image_alt|default('') }}" src="{{ image }}" loading="lazy" class="image--image {{ selectedVariant }}" />
    {% if caption %}
      <figcaption class="image--caption s-box-small-v s-box-small-h t-body-small wysiwg-editor">
        {% block caption %}{% endblock %}
      </figcaption>
    {% endif %}
  </figure>

{% else %}
 {# variable error handling #}
  {% set errors = [] %}

    {% if image is not defined %}
      {% set errors = errors | merge(['Image']) %}
    {% endif %}

    {% if image_alt is not defined %}
      {% set errors = errors | merge(['Image Alt Text']) %}
    {% endif %}

  {# Log the errors #}
  {% if errors is not empty %}
    <div class="c-content-interactive-primary c-bg-interactive-primary s-box-small-h"> [ERROR] - UMD Libraries Image - {{ variant }}</div>
    <div class="s-box-small-h"> Required fields missing: <strong>{{ errors | join(', ') }}</strong></div>
  {% endif %}
{% endif %}