{% if name %}
<div class="person--bio">
  <div class="person--bio-top s-stack-default">
    {% if image %}
      <div class="person--bio-image">
        <img src="{{ image }}" alt="{{ image_alt }}" />
      </div>
    {% endif %}
    <div class="person--bio-info">
      <div class="person--bio-info-core s-box-small-h s-stack-default">
        <h2 class="person--bio-name t-title-large t-uppercase">{{ name }}</h2>
        {% if title %}
          <p class="person--bio-title t-body-small">{{ title }}</p>
        {% endif %}
        {% if department %}
          <div class="person--bio-department t-body-small">
            {{ department}}
          </div>
        {% endif %}
      </div>
      <address class="person--bio-contact">
        {% if phone %}
          <a class="person--bio-phone t-body-small" href="tel:{{ phone }}">
            <span class="c-bg-interactive-secondary ani-bg-interactive ani-icon-interactive">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                <path id="white" d="M10.3402 13.8337C9.2993 13.8337 8.02231 13.3544 6.61544 12.4099C3.77091 10.5012 0.442081 6.58375 0.184079 3.93675C0.101582 3.09018 0.313872 2.40709 0.815195 1.90577L2.55397 0.166992L6.09451 3.70753L5.8114 3.99064C5.35979 4.44233 4.61974 5.1808 4.09064 5.70631C4.57736 6.42109 5.51695 7.47737 6.21021 8.17063C6.86643 8.82627 7.62575 9.4231 8.31009 9.88022C8.80307 9.38398 9.46663 8.71842 10.0093 8.17455L10.2929 7.89119L13.8334 11.4325L12.1157 13.1502C11.6586 13.6073 11.0553 13.8337 10.3402 13.8337Z" fill="black"/>
              </svg>
            </span>
            {{ phone }}
          </a>
        {% endif %}
        {% if email %}
            <a class="person--bio-email t-body-small" href="mailto:{{ email }}">
              <span class="c-bg-interactive-secondary ani-bg-interactive ani-icon-interactive">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <path id="white" fill-rule="evenodd" clip-rule="evenodd" d="M13.2448 3.5H2.97782L8.01248 8.05794L13.2448 3.5ZM14.8582 3.5L8.01248 9.57679L1.16675 3.5V12.3929H15.0001V3.5H14.8582Z" fill="black"/>
                </svg>
              </span>
              {{ email }}
            </a>
        {% endif %}
        {% if office %}
          <p class="person--bio-office t-body-small">
            <span class="c-bg-interactive-secondary ani-bg-interactive ani-icon-interactive">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <path id="white" d="M8.00008 1C5.07643 1 2.69775 3.09352 2.69775 5.66668C2.69775 6.43914 2.91719 7.20504 3.33434 7.88436L7.71012 14.8496C7.76837 14.9425 7.87938 15 8.00008 15C8.12078 15 8.23179 14.9425 8.29004 14.8496L12.6674 7.88207C13.083 7.20504 13.3024 6.43911 13.3024 5.66665C13.3024 3.09352 10.9237 1 8.00008 1ZM8.00008 8.66667C6.53826 8.66667 5.5156 7.45325 5.5156 6.16668C5.5156 4.8801 6.53826 3.66669 8.00008 3.66669C9.4619 3.66669 10.4846 4.8801 10.4846 6.16668C10.4846 7.45325 9.4619 8.66667 8.00008 8.66667Z" fill="black"/>
                </svg>
              </span>
            {{ office }}
          </p>
        {% endif %}
      </address>
    </div>
  </div>
  
  {% if bio_description_slot %}
    <div class="person--bio-description s-stack-default">
      {% block bio_description_slot %}{% endblock %}
    </div>
  {% endif %}

  {% if link %}
    <div class="person--bio-link s-stack-default">
      {% include 'umdlib_umdds:umd-libraries-button-secondary' with {
        'button_text': link_text,
        'button_link': link
      } only %}
    </div>
  {% endif %}
</div>

{% else %}
  {# Error state #}
  <div class="person--error">
    Required properties - name missing
  </div>
{% endif %}