{# 
/**
 * @file
 * UMD Libraries List component.
 *
 * Available slots:
 * - list_eyebrow: The eyebrow of the list item.
 * - list_title: The title of the list.
 * - list_description: The description of the list.
 * - list_date: The date of the list.
 * - list_image: The list image.
 * - list_image_alt: The alt text for the list image.
 * - list_url: The URL the button links to.
*/
#}

{% if list_title is defined and list_url is defined %}
  <div class="umd-lib list s-margin-general-medium">
    <div class="list--title-section s-stack-small">
      {% if list_eyebrow is defined and list_eyebrow is not empty %}
        <div class="list--eyebrow t-eyebrow c-content-primary">{% block list_eyebrow %}{% endblock %}</div>
      {% endif %}
      <div class="list--title">
        <h2 class="t-title-medium c-content-primary">
          <a href="{{ list_url }}">{{ list_title }}</a>
        </h2>
      </div>
    </div>

    <div class="list--details">
      <div class="list--information">
        <div class="list--content">
          {% if list_description is defined and list_description is not empty %}
            <div class="list--description t-body-small wysiwyg-editor">{% block list_description %}{% endblock %}</div>
          {% endif %}
          {% if list_date is defined and list_date is not empty %}
            <div class="list--date t-label c-content-tertiary">{% block list_date %}{% endblock %}</div>
          {% endif %}
        </div>
      </div>
      {% if list_image is defined and list_image is not empty %}
        <div class="list--image">
          <img alt="{{ list_image_alt|default('') }}" src="{{ list_image }}" loading="lazy">
        </div>
      {% endif %}
    </div> 
  </div>
{% else %}
  {# variable error handling #}
  {% set errors = [] %}

  {% if list_title is not defined %}
    {% set errors = errors | merge(['Title']) %}
  {% endif %}

  {% if list_url is not defined %}
    {% set errors = errors | merge(['List URL']) %}
  {% endif %}

  {% if list_image is defined and list_image_alt is not defined %}
    {% set errors = errors | merge(['List Image Alt Text']) %}
  {% endif %}

  {% if errors is not empty %}
   <div class="c-content-interactive-primary c-bg-interactive-primary s-box-small-h"> [ERROR] - UMD Libraries List</div>
    <div class="s-box-small-h"> Required fields missing: <strong>{{ errors | join(', ') }}</strong></div>
  {% endif %}
{% endif %}
