{#
/**
 * @file
 * Theme override for a three column layout.
 *
 * This template provides a three column 25%-50%-25% display layout, with
 * additional areas for the top and the bottom.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 */
#}
{% set show_sidebar_region = settings.sidebar_region %}
{% set full_page_width = settings.section_width %}
{% set column_config = settings.column_config %}
{% set num_rows = settings.num_rows %}
{%
  set classes = [
    'layout',
    'umd-lib-layout',
    'layout--custom',
  ]
%}

{% if full_page_width == False %}
  {% set classes = classes|merge(['s-box-page-default-h']) %}
{% endif %}

{% if in_preview %}
  {% set classes = classes|merge(['preview']) %}
{% endif %}
{% if content %}
  <div {{ attributes.addClass(classes) }}>
    {% if show_sidebar_region %}
      <div class="sidebar-navigation">
        {{ content.left_column }}
        <div class="region-info">Sidebar</div>
      </div>
    {% endif %}
    <div {{ region_attributes.main_column.addClass('main-column') }}>
      {% for i in 1..num_rows %}
        {% set row_conf = column_config['row_' ~ i] %}
        {% set row_cols = row_conf['cols'] %}
        {% set horiz_class = row_conf['horizontal'] %}
        {% set vert_class = row_conf['vertical'] %}
        <div class="row row--1 layout--{{ row_cols }}-column horizontal-{{ horiz_class }} vertical-{{ vert_class }}">
          {% for r in 1..row_cols %}
            {% set region_key = 'main_' ~ i ~ '_' ~ r %}
            <div class="col column--{{ r }}">
              {{ content.(region_key) }}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
