{#
/**
 * @file
 * Theme override for a three column layout.
 *
 * This template provides a three column 25%-50%-25% display layout, with
 * additional areas for the top and the bottom.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 */
#}
{% set show_sidebar_region = settings.sidebar_region %}
{% set full_page_width = settings.section_width %}
{% set column_config = settings.column_config %}
{% set num_rows = settings.num_rows %}
{% set section_vertical_spacing = settings.section_vertical_spacing %}
{% set top_margin = settings.top_margin %}
{% set use_search = settings.use_search %}

{%
  set classes = [
    'layout',
    'umd-lib',
    'umd-lib-layout',
    'layout--custom',
  ]
%}

{% if full_page_width == False %}
  {% set classes = classes|merge(['s-box-page-medium-h']) %}
  {% set classes = classes|merge(['s-center']) %}
  {% set classes = classes|merge(['s-page-lock']) %}
{% endif %}

{% if top_margin %}
  {% set classes = classes|merge(['top-margin']) %}
{% endif %}

{% if in_preview %}
  {% set classes = classes|merge(['preview']) %}
{% endif %}

{% if content %}
  {% if use_search %}
    {% set classes = classes|merge(['search-web-components']) %}
    <search-root{{ settings.search_root_attributes }}>
    <div {{ attributes.addClass(classes) }}>
      <div class="search-top-region-container" aria-hidden="{{ content.search_top_region is empty ? 'true' : 'false' }}">
        <div class="region-info" aria-hidden="true">Search Top Region</div>
        <div {{ region_attributes.search_top_region.addClass('search-top-region') }}>{{ content.search_top_region }}</div>
      </div>
      <div class="search-main-region-container">
  {% else %}
    <div {{ attributes.addClass(classes) }}>
  {% endif %}

    {% if show_sidebar_region %}
      <div class="sidebar-navigation s-inline-medium" aria-hidden="{{ content.left_column is empty ? 'true' : 'false' }}">
          <div class="region-info" aria-hidden="true">Sidebar</div>
          <div {{ region_attributes.left_column.addClass('left_column') }}>{{ content.left_column }}</div>
      </div>
    {% endif %}
    <div class="main-column">
      {% for i in 1..num_rows %}
        {% set row_conf = column_config['row_' ~ i] %}
        <div class="{{ row_conf.card_group ? 'card-group' : 'column' }} row row--{{ i }} layout--{{ row_conf.cols }}-column horizontal-{{ row_conf.horizontal }}">
          {% if row_conf.card_group %}
          {# render card group #}
            {% set reg_key = 'main_' ~ i ~ '_card_group' %}
            <div class="region-info" aria-hidden="true">Card Group - {{ row_conf.cols }} column</div>
            <div {{ region_attributes.(reg_key).addClass(reg_key).addClass('card-group-content') }}>{{ content.(reg_key) }}</div>
          {% else %}
          {# render column #}
            <div class="region-info" aria-hidden="true">{{ row_conf.cols }} column</div>
            {% for r in 1..row_conf.cols %}
              {% set reg_key = 'main_' ~ i ~ '_' ~ r %}
              <div class="col column--{{ r }} col-child">
                <div {{ region_attributes.(reg_key).addClass(reg_key) }}>{{ content.(reg_key) }}</div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  {% if use_search %}
      </div>
    </search-root>
  {% endif %}
{% endif %}
