{#
/**
 * @file
 * Theme override for a three column layout.
 *
 * This template provides a three column 25%-50%-25% display layout, with
 * additional areas for the top and the bottom.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 */
#}
{%
  set classes = [
    'layout',
    'umd-lib-layout',
    'layout--threecol',
  ]
%}
{% set column_attribute = settings.column_attribute|clean_id %}
{% if content %}
  <div {{ attributes.addClass(classes) }}>
  {% if content.left_column %}
    <div {{ region_attributes.left_column.addClass('left-sidebar', 'col-child', column_attribute) }}>
      {{ content.left_column }}
    </div>
  {% endif %}
  {% if content.middle_column %}
    <div {{ region_attributes.middle_column.addClass('middle-sidebar', 'col-child', column_attribute) }}>
      {{ content.middle_column }}
    </div>
  {% endif %}
  {% if content.right_column %}
    <div {{ region_attributes.right_column.addClass('right-sidebar', 'col-child', column_attribute) }}>
      {{ content.right_column }}
    </div>
  {% endif %}
  </div>
{% endif %}