{#
/**
 * @file
 * Theme override for a three column layout.
 *
 * This template provides a three column 25%-50%-25% display layout, with
 * additional areas for the top and the bottom.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 */
#}
{% set show_sidebar_region = settings.sidebar_region %}
{% set full_page_width = settings.section_width %}
{% set column_config = settings.column_config %}
{% set num_rows = settings.num_rows %}
{% set section_vertical_spacing = settings.section_vertical_spacing %}
{%
  set classes = [
    'layout',
    'umd-lib-layout',
    'layout--custom',
  ]
%}

{% if full_page_width == False %}
  {% set classes = classes|merge(['s-box-page-default-h']) %}
  {% set classes = classes|merge(['s-center']) %}
  {% set classes = classes|merge(['s-page-lock']) %}
{% endif %}

{% if section_vertical_spacing is defined %}
  {% set classes = classes|merge(['vertical-spacing-' ~ section_vertical_spacing]) %}
{% endif %}

{% if in_preview %}
  {% set classes = classes|merge(['preview']) %}
{% endif %}
{% if content %}
  <div {{ attributes.addClass(classes) }}>
    {% if show_sidebar_region %}
      <div class="sidebar-navigation s-inline-large" aria-hidden="{{ content.left_column is empty ? 'true' : 'false' }}">
          {{ content.left_column }}
          <div class="region-info" aria-hidden="true">Sidebar</div>
      </div>
    {% endif %}
    <div class="main-column">
      {% for i in 1..num_rows %}
        {% set row_conf = column_config['row_' ~ i] %}
        <div class="row row--{{ i }} layout--{{ row_conf.cols }}-column horizontal-{{ row_conf.horizontal }} vertical-{{ row_conf.vertical }}">
          {% for r in 1..row_conf.cols %}
            <div class="col column--{{ r }} col-child">
              {{ attribute(content, 'main_' ~ i ~ '_' ~ r) }}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
