{# 
/**
 * @file
 * UMD Libraries Heading component.
 *
 * Available variants:
 * - h2
 * - h3
 * - h4
 *
 * Variables:
 * heading_text: Heading text.
 * link_url: (Optional) The link for the heading, if applicable.
 */
 #}

{# Get the variant, defaulting to standard if not specified #}
{% set selectedVariant = variant | default('h2') %}
{% if heading_text is defined and heading_text is not empty %}

  <div class="umd-lib heading heading--{{ selectedVariant }} s-margin-heading-medium">
    <h{{ selectedVariant | slice(1) }} class="c-content-primary">
      {% if link_url is defined and link_url is not empty %}
        <a href="{{ link_url }}" class="c-content-primary">
          {{ heading_text }}
        </a>
      {% else %}
             {{ heading_text }}
      {% endif %}
    </h{{ selectedVariant | slice(1) }}>
  </div>


{% else %}
  {# variable error handling #}
  <div class="c-content-interactive-primary c-bg-interactive-primary s-box-small-h"> [ERROR] - UMD Libraries Heading / Variant - {{ selectedVariant }}</div>
  <div class="s-box-small-h"> Required fields missing: <strong>Heading Text</strong></div>
{% endif %}